/* Import the font in the design */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Reset default margins and paddings and set the outline none for all elements */
#root {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: Poppins, serif;
}

/* Start the design with the mobile first */

.auth-layout {
    width: 100%;
    height: 1042px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.auth-image {
    display: none;
}

/* Page Content Styles */

.auth-content {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-block: 50px;
    gap: 25px;
}

.auth-title {
    width: 100%;
    height: 52.53px;
    display: flex;
    justify-content: flex-start;
}

.auth-title h1 {
    height: 40px;
    font-size: 32px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(0, 0, 0, 1);
}

.signup-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 19.7px;
    padding-block: 33px;
}

.form-input {
    width: 100%;
    height: 58px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.form-input label {
    height: 21px;
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(0, 0, 0, 1);
}

.form-input input {
    width: 100%;
    height: 32px;
    border-radius: 10px;
    border: 1px solid rgba(217, 217, 217, 1);
    background-color: rgba(255, 255, 255, 1);
    padding: 10px 10px 7px; 
    font-size: 10px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(217, 217, 217, 1);
}

.terms-input {
    width: 100%;
    height: 15.32px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 6px;
    padding-block: 2.19px 3.28px;
}

.terms-input input {
    width: 11px;
    height: 11.85px;
}

.terms-input label {
    height: 15.32px;
    font-size: 9px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(0, 0, 0, 1);
    padding-top: 1.5px;
}

.terms-input label span {
    border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.submit-button {
    width: 100%;
    height: 32px;
    border-radius: 10px;
    border: 1px solid rgba(58, 91, 34, 1);
    background-color: rgba(58, 91, 34, 1);
    font-size: 13px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 1);
    padding-block: 6px;
    box-shadow: 3px 3px 5px rgba(58, 91, 34, 1);
}

/* Style the divider */
.divider-container {
    width: 100%;
    height: 15.32px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 4.5px;
    padding-inline: 3px 1px; 
    margin-bottom: 35.08px;
}

.divider-container hr {
    width: 187.5px;
}

.divider-container span {
    height: 14px;
    font-size: 9px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(0, 0, 0, 1);
    padding-top: 1.5px;
}

/* Social Auth buttons */
.other-option-to-sign {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 6%;
}

.sign-with-google,
.sign-with-apple {
    width: 47%;
    height: 32px;
    position: relative;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    border: 1px solid rgba(217, 217, 217, 1);
}

.sign-with-google div,
.sign-with-apple div {
    width: 100%;
    height: 24px;
    position: absolute;
    top: 4px;
    left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.sign-with-google div img,
.sign-with-apple div img {
    width: 24px;
    height: 24px;
    padding: 2px;
}

.sign-with-google div p,
.sign-with-apple div p {
    height: 18px;
    font-size: 10px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(0, 0, 0, 1);
    padding-top: 7px;
}

/*Auth redirect*/
.have-account,
.have-no-account {
    width: 100%;
    height: 22.98px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 9px;
}

.have-account p,
.have-no-account p {
    height: 21px;
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(0, 0, 0, 1);
}

.have-account a ,
.have-no-account a {
    height: 21px;
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
    color: #646cff;
}